body {
  background-color: rgb(255, 0, 0);
}

#shouted {
  display:none;
  color: rgb(255, 0, 0);
  font-weight: bolder;
  font-size: 15vh;
  overflow-wrap: break-word;
}

.btn {
  float: right;
  background-color: rgb(255, 0, 0);
  color: rgb(255, 255, 255);
}

.panel h1 {
  color: rgb(255, 0, 0);
}

.panel {
  background-color: rgb(255, 255, 255);
}

.panel-heading {
  background-color: rgb(255, 0,0);
}

.panel-footer {
  background-color: rgb(255, 255, 255);
}

.main {
  margin-top: 10vh;
  border: solid 6px  rgb(255, 255,255);
  border-radius: 4px;
  padding: 20px;
  padding-bottom:0px;
}
